<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets>
    <target xsi:type="File"
            name="file"
            fileName="${specialfolder:folder=ApplicationData}/RocketBuild/logs/${shortdate}.log"
            layout="[${longdate} ${pad:padding=5:inner=${level:uppercase=true}}] [${callsite:includeNamespace=false:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true}] ${message}${onexception:inner=${newline}}${exception:format=tostring}" />

    <target xsi:type="MessageBox"
            name="messageBox"
            layout="${message}"
            caption="${level} in ${callsite:className=true:includeNamespace=false:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true:methodName=true}()" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="messageBox" />
  </rules>
</nlog>